/*  your css code here. If applicable */
body{
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top: 30vh;
}

.left{
    width: 450px;
    margin-top: 70px;
    display: inline-block;
}

form{
    display: flex;
    width: 300px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    flex-direction: column;
    gap: 10px;
}

input{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

button{
    background-color: #1877f2;
    border-radius: 5px;
    padding: 10px 20px;
}

a{
    text-decoration: none;
    color: #1877f2;
}

.signup{
    background-color: #42b72a;
}